<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM
        "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="mailAppender" class="org.apache.log4j.net.SMTPAppender">
        <!-- Email Configuration -->
        <param name="BufferSize" value="512"/>
        <param name="SMTPProtocol" value="smtps"/>
        <param name="SMTPHost" value="smtp.gmail.com"/>
        <param name="SMTPPort" value="465"/>
        <param name="SMTPUsername" value="x"/>
        <param name="SMTPPassword" value="x"/>
        <param name="From" value="x"/>
        <param name="To" value="x"/>
        <param name="Subject" value="Testing Log4j Mail Notification"/>

        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-7p %d [%t] %c %x - %m%n"/>
        </layout>

        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="error"/>
            <param name="LevelMax" value="fatal"/>
        </filter>
    </appender>
    <!-- rolling file appender -->
    <appender name="file" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="logs/main.log"/>
        <param name="Append" value="true"/>
        <param name="ImmediateFlush" value="true"/>
        <param name="MaxFileSize" value="1KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %d{Z} [%t] %-5p (%F:%L) - %m%n"/>
        </layout>
    </appender>
    <root>
        <level value="INFO"/>
        <appender-ref ref="mailAppender"/>
        <appender-ref ref="file"/>
    </root>
</log4j:configuration>

